__pycache__/
.venv/
.vscode/
build/
poetry.lock
*.h5
**.egg-info/
.mypy_cache/
.pytest_cache
**.env
wandb/
.DS_Store
*.pt
examples/belief_centers_comparison_cmap.svg
examples/belief_evolution.gif
examples/quantum_animation.gif
examples/quantum_animation.mp4
examples/quantum_animation2.gif
